@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>WeCamJS Test Page</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />

        <style type="text/css">

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            h2, h3 {
                margin-top: 0;
            }

            form {
                margin-top: 15px;
            }

            form > input {
                margin-right: 15px;
            }

            #buttonhide {
                display: none;
            }

            
            </style>
    </head>
    <body class="container">

        <div id="my_camera"></div>

        <button id="btnPhoto" onclick="take_snapshot()">Foto machen</button>
        
        <div id="side">
                       
            <h1>Fotowettbewerb</h1>
            <br />
            <p>OLMA - Fotowettbewerb 2023</p>

        </div>

        <button id="btnLogin" onclick="showLogin()">Mitarbeitende</button>



        <div id="contact">

            <div id="results">
                Your Captured image will appear here...
            </div>

            <label>Vorname:</label>
            <input type="text" id="fname" name="fname"><br><br>
            <label>Nachname:</label>
            <input type="text" id="lname" name="lname"><br><br>
            <label>Alter:</label>
            <input type="text" id="age" name="age"><br><br>
            <label>E-mail:</label>
            <input type="text" id="email" name="email"><br><br>
            <label>Telefonnummer:</label>
            <input type="text" id="tel" name="tel"><br><br>
            <label>Strasse:</label>
            <input type="text" id="street" name="street"><br><br>
            <label>PLZ:</label>
            <input type="text" id="plz" name="plz"><br><br>

            <button id="btnFinish" onclick="finish()">Teilnahme abschliessen</button>

        <br />

        
        </div>

        <div id="employeeLogin">
            <label>Benutzername:</label>
            <input type="text" id="ename" name="ename"><br><br>
            <label>Passwort:</label>
            <input type="password" id="password" name="password"><br><br>
            <button id="btnAuthenticate" onclick="authenticate()">Anmelden</button>
        </div>

        <div id="employeeView">
            <button id="btnWinner" onclick="winner()">Wettbewerb auflösen</button>
            <p>Gewinner: </p><p id="winner"></p>
            <button id="btnBack" onclick="back()">zurück</button>
        </div>





        <script src="~/WebCamjs/webcam.js"></script>
        <script language="JavaScript">
            Webcam.set({
                width: 1400,
                height: 1080,
                dest_width: 320,
                dest_height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#my_camera');
        </script>
        <script language="JavaScript">
            function take_snapshot() {
                Webcam.snap(function(data_uri) {
                    document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
                    document.getElementById('contact').style.display = "block";
                    Webcam.upload(data_uri, 'Camera/CapturePhoto', function(code, text) {
                        //alert('Photo Captured');
                    });
                });
            }

            function back() {
                document.getElementById('employeeLogin').style.display = "none";
                document.getElementById('employeeView').style.display = "none";
            }

            function winner() {
                document.getElementById('winner').innerHTML = "Rainer Winkler";
            }

            function showLogin() {
                document.getElementById('employeeLogin').style.display = "block";
            }

            function authenticate() {
                document.getElementById('employeeView').style.display = "block";
            }

            function finish(){
                document.getElementById('contact').style.display = "none";
            }
        </script>
    </body>
</html>