@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>WeCamJS Test Page</title>
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
        <link href="~/css/site.css" rel="stylesheet" />

        <style type="text/css">

            body {
                font-family: Arial, Helvetica, sans-serif;
            }

            h2, h3 {
                margin-top: 0;
            }

            form {
                margin-top: 15px;
            }

            form > input {
                margin-right: 15px;
            }

            #buttonhide {
                display: none;
            }
        </style>
    </head>
    <body class="container">

        <div id="my_camera"></div>

        <button id="btnPhoto" onclick="take_snapshot()">Foto machen</button>
        
        <div id="side">
            <button id="btnLogin" onclick="login()">employees</button>
            <br />

            
            <h1>Fotowettbewerb</h1>
            <br />
            <p>Fotowettbewerb bla bla</p>

        </div>

        <div id="contact">

        <div id="results">
            Your Captured image will appear here...
        </div>

        <label for="fname">Vorname:</label>
        <input type="text" id="fname" name="fname"><br><br>
        <label for="lname">Nachname:</label>
        <input type="text" id="lname" name="lname"><br><br>
        <label for="lname">Alter:</label>
        <input type="text" id="age" name="age"><br><br>
        <label for="lname">E-mail:</label>
        <input type="text" id="email" name="email"><br><br>
        <label for="lname">Telefonnummer:</label>
        <input type="text" id="tel" name="tel"><br><br>
        <label for="lname">Strasse:</label>
        <input type="text" id="street" name="street"><br><br>
        <label for="lname">PLZ:</label>
        <input type="text" id="plz" name="plz"><br><br>

        <button id="btnFinish" onclick="finish()">Teilnahme abschliessen</button>

        </div>





        <script src="~/WebCamjs/webcam.js"></script>
        <script language="JavaScript">
            Webcam.set({
                width: 1400,
                height: 1080,
                dest_width: 320,
                dest_height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });
            Webcam.attach('#my_camera');
        </script>
        <script language="JavaScript">
            function take_snapshot() {
                Webcam.snap(function(data_uri) {
                    document.getElementById('results').innerHTML = '<img src="' + data_uri + '"/>';
                    document.getElementById('contact').style.display = "block";
                    Webcam.upload(data_uri, 'Camera/CapturePhoto', function(code, text) {
                        //alert('Photo Captured');
                    });
                });
            }

            function finish(){
                document.getElementById('contact').style.display = "none";
            }
        </script>
    </body>
</html>