html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
}

video {
    position: absolute;
    width: 100%;
    height: auto;

    top: 0;
    left: 0;
}

#side {
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 500px;
    background-color: #f1f1f1;
    height: 100%;
    overflow: auto;
}

#btnPhoto { 
    position: inherit;
    bottom: 10%;
    left: 30%;
    background-color: red;
}

#contact {
    position: fixed;
    display: none;
}